:root {
    --color-a: rgb(44, 138, 145);
    --color-b: #e96a85;
}

body {
    background-color: var(--color-a);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    display: grid;
    grid-template-columns: 100px auto 300px;
    grid-template-rows: 50px 50px;
    grid-area: header;
    padding: 10px;
}

main {
    grid-area: main;
    background-color: #ececec;
}

footer {
    grid-area: footer;
    padding: 10px;
    background-color: white;
}

aside {
    grid-area: aside;
    background-color: #ececec;
}

.aside-author {
    height: fit-content;
    grid-area: author;
    background-color: #ececec;
}

.content-wrap {
    width: 1200px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 0fr 0fr 1fr;
    grid-template-areas: "header header" "main author" "main aside" "footer footer";
}

.blog-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.upper-block {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}

.upper-block img {
    display: inline-block;
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

.lower-block {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: stretch;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.lower-block a {
    display: inline-block;
    flex-grow: 1;
    margin-left: 5px;
}

.btn-1 {
    padding: 1em;
    border: 2px var(--color-a) solid;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: var(--color-a);
    border-radius: 5px;
    font: inherit;
    font-weight: bold;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    cursor: pointer;
}

.btn-1:hover {
    color: white;
    background-color: var(--color-a);
}

.lower-block>a:hover {
    color: white;
    background-color: var(--color-a);
}

#sideMenu {
    display: none;
}

@media (max-width: 700px) {
    .upper-block .socials-block {
        display: none;
    }
    header {
        grid-template-columns: 25px auto 25px;
        grid-template-rows: 25px 100px;
        grid-area: header;
    }
    .lower-block {
        display: none;
    }
    .upper-block img {
        margin-left: 0;
    }
    .blog-icon {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: center;
        height: 100px;
    }
    #sideMenu {
        display: initial;
    }
    #menuToggle {
        display: block;
    }
    .content-wrap {
        grid-template-columns: auto;
        grid-template-rows: 0fr 0fr 1fr 0fr 0fr;
        grid-template-areas: "header" "author" "main" "aside" "footer";
    }
}